.header{
    & .navbar{
        background: $white;
        border-bottom:1px solid $colorPrincipal;
    }
    & .navbar-collapse{
        @media screen and (max-width:992px){
            position: fixed;
            background: white;
            top: 66px;
            z-index: 50;
            width: 100%;
            left: 0px;
            padding: 0px 20px;
            border-top: 1px solid $colorPrincipal;
            font-size: 14px;
        }
    }    
    & .navbar-brand{
        & img{
            width: 200px;
        }
    }
    & .dropdown-menu{
        border-radius: 0;
        margin: 0;
        padding: 0;
        & .dropdown-item{
            border-bottom: 1px solid #e9e9e9;
            font-size: 14px;
        }
        @media screen and (max-width:992px){
            border:0;
            & .dropdown-item{
                border-bottom: 0;
            }
        }
    }
    & .nav-item {
        .nav-link{
            color:$colorprimary;
            &:hover{
                color:$light_blue;
            }
        }
        &.active{
            .nav-link{
                color:$light_blue;
            } 
        }
    }
}
footer {
    @media screen and (max-width:992px){
        font-size: 14px;
        h5 {
            font-size: 15px;
        }
    }
}
/*.dropdownHeader:hover>.dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}*/
