@import './../_variables';
@import './../utils/mixins';

@import "~bootstrap";
@import "~owl.carousel";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "awesome";
@import "~datatables/media/css/jquery.dataTables.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "~toastr";

@import "../template_website/style.css";

@import "../general";
@import "../views/home";
@import "../views/search";
@import "../views/cardvirtual";

/*INSTITUCIONAL*/
@import "../institucional/directiva";
@import "../institucional/historia";
@import "../institucional/comisiones";
@import "../institucional/boletines";
@import "../institucional/events";
@import "../institucional/eventsUnd";

/*TRAMITES*/
@import "../tramites/colegiatura";
body{
    color:$colorprimary;
}
.color-principal{
    color:$colorPrincipal;
}
.fondo-principal{
    background:$colorPrincipal;
}
