.formColegiado{
    & .row{
        margin-top:0 !important;
    }
    & .control-label{
        text-align: left;
    }
}
.form-card-virtual{
    label{
        float: left;
        margin-bottom: 0;
        flex: initial!important;
    }
    .input-card-virtual{
        float: left;
        flex: initial!important;
    }
    .subcontainer-card-virtual{
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 15px;
    }
}