.owl-carousel-home{
    & .owl-dots{
        text-align: center;
        margin-top: 10px !important;
    }
    & .item{
        & img{
            max-height: 545px;
        }
    }
}
.owl-carousel-modal{
    & .owl-dots{
        text-align: center;
        margin-top: 10px !important;
    }
    & .item{
    }
}
.owl-carousel-convenios{
    & .item{
        border:1px solid $colorprimary;
    }
}
.owlNavCustom{
    position: absolute;
    z-index: 5;
    top: 0;
    background: transparent;
    border: 0;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 3px $black;
    padding: 0;
    &__next{
        right: -25px; 
    }
    &__prev{
        left: -25px; 
    }
}
h2{
    @media screen and (max-width:768px){
        font-size: 1.5rem;
    }
}
.cardCustom{
    & .card-text{
        color:$white;
        & i{
            font-size: 40px;
        }
    }
    & .card-title{
        color:$white;
    }
    &:hover{
        text-decoration: none;
    }
    &:nth-child(1){
        & .card-body{
            background-color: #B7AD99;
        }
    }
    &:nth-child(2){
        & .card-body{
            background-color: #00D9C0;
        }
    }
    &:nth-child(3){
        & .card-body{
            background-color: #FF4365;
        }
    }
    &:nth-child(4){
        & .card-body{
            background-color: #26348C;
        }
    }
}
