.containerSearch{
    padding:15px 0;
    @media screen and (max-width:768px){
        padding:0;
    }
}
.formSearch{
    width: 100%;
    & .button{
        margin-top:0;
        margin-left:15px;
    }
    & .form-control{
        height: 47px;
        border-radius: 0;
    }
    &__item{
        text-align: left;
        @media screen and (max-width:992px){
            margin-bottom: 8px;
            text-align: center;
        }
    }
}
.status{
    font-size:14px;
    color:$white;
    background:$normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    padding: .2em .6em .3em;
    &--habil{
        background:$active;
    }
    &--inhabil{
        background:$inactive;
    }
}
.formSearch__item{
    flex: initial;
    float: left;
}