.container-main-boletin{
    img{
        @media (max-width: 768px) {
            display: none;
        }
    }
    .subcontainer-boletin{
        @media (max-width: 768px) {
            text-align: center;
            background: $colorPrincipal;
            color: white;
            padding: 2px!important;
            padding-left: 0!important;
            padding-right: 0!important;
            border-bottom: 0!important;
        }

        .content-boletin{
            @media (max-width: 768px) {
                border: 1px solid white;
                padding-top: .5em;
                padding-bottom: .5em;
                a{
                    font-weight: bold;
                }
                p{
                    margin-bottom: 0!important;
                }
                a,p{
                    color:white!important;
                }
            }
        }
    }
}

.text-fecha-boletin{
    font-size: 13px;
}