.container-main-comisiones h6{
    letter-spacing: normal;
}
.container-card-comision{
    cursor: pointer;
}
.container-title-comisiones{
    color: $colorPrincipal;
    text-shadow: 7px 4px 5px silver;
    @media (max-width: 768px) {
        background: $colorPrincipal;
        color: white;
        text-align: center;
        text-shadow: initial;
    }
}
.list-integrantes-comision{
    li:before{
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $colorPrincipal;
    }
}
/* estilos chancados de cbpll.min.css*/
.modal-comision {
    display: initial!important;
    .close span::before{
        display: none;
    }
}
