.container-size-responsive{
    width: 60%;

    @media (max-width: 768px) {
        width: 100%;
    }
}
.order-second-directivo{
    @media (max-width: 768px) {
        order: 2;
    }
}

.container-directivo:nth-of-type(even) {
    flex-direction: row-reverse;
}