.content-card-events{
    padding-bottom: 3em;
    @media (max-width: 575px) {
        padding-bottom: 0;
    }
    @media (max-width: 575px) {
        align-items: center;
        flex-direction: row;
        padding-left: .5em;
        margin-bottom: 0!important;

        img{
            width: 40%;
        }
    }
    @media (min-width: 576px) {
        .card-body{
            padding-bottom: 0!important;
        }
    }
    .content-body-events{
        
        .card-text{
            @media (min-width: 576px) {
                font-size: 12px;
            }
        }
        .card-title{
            font-size: 15px;
            overflow: hidden;
            max-height: 55px;
            height: 53px;
            position: relative;
            //text-align: justify;
            &:After{
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                height: 15px;
                display: block;
                z-index: 10;
                background: -webkit-linear-gradient(bottom, #fff 35%, rgba(255, 255, 255, 0) 100%);
                background: -moz-linear-gradient(bottom, #fff 35%, rgba(255, 255, 255, 0) 100%);
                background: -o-linear-gradient(bottom, #fff 35%, rgba(255, 255, 255, 0) 100%);
                background: -ms-linear-gradient(bottom, #fff 35%, rgba(255, 255, 255, 0) 100%);
                background: linear-gradient(to top, #fff 35%, rgba(255, 255, 255, 0) 100%);
            }
            @media (max-width: 575px) {
                margin-bottom: 1.5em!important;
            }
        }
        
    }
    .footer-events{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3em;
        @media (max-width: 575px) {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 11px;
            border-top-left-radius: 20px;
            width: initial;
        }
    }
}
.container-img-project{
    @include centradoAbs(100%,10em);
}