.container-item-list-events li{
    position: relative;
}
.container-item-list-events .item-events {
    @include itemList;
}
.container-events-und{
    @media (max-width: 768px) {
        order: 2;
        margin-top: 3em;
    }
}