.container-historia{
    @media (max-width: 768px) {
        text-align: center;

        img{
            float: initial!important;
            margin-right: 0!important;
            margin-bottom: 3em !important;
        }
        p{
            text-align: justify;
        }
        h4{
            background: $colorPrincipal;
            border-radius: 2px;
        }
    }
}