$fa-font-path: "../fonts/webfonts";
$fa-font-display: auto !default;
$red:red;
$white:white;
$black:#000;
$active: #00a65a;
$inactive:#dd4b39;
$normal:#3c8dbc ;
$pending:#f39c12;
$white_humo:#f5f6fa;
$light_blue: #0095D9;

$colorprimary:#2d3742;

$colorPrincipal:#26348c;