@import "main/_header";
label.error{
    font-size: 12px;
    text-align: left;
    display: block;
    color:$inactive;
}
.form-control{
    border-radius: 0 !important;
    box-shadow: none !important;
    &.error{
        border-color:$inactive;
    }
}
.submenu{
    background: $white_humo;
    text-align: right;
    &__nav{
        margin: 0;
        list-style: none;
    }
    &__item{
        display:inline-block;
    }
    &__link{
        display:inline-block;
        padding:1em 2em;
        color:$light_blue;
        &.active{
            text-decoration: underline;
        }
        @media screen and (max-width:430px){
            padding:1em;
        }
        @media screen and (max-width:350px){
            padding: 1em 7px;
        }
    }
    @media screen and (max-width:700px){
        text-align: center;
    }
}