@mixin itemList($widthItem:8px,$heightItem:8px,$item:1){
    position: relative;
    &:before{
        @if($item == 1){
            content: '';
            background: $colorPrincipal;
            margin-top: .5em;
        }
        @if($item == 2){
            content: '+';
            margin-top: 0;
        }
        @if($item == 3){
            content: '-';
            margin-top: 0;
        }
        width: $widthItem;
        height: $heightItem;
        position: absolute;
        top: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
@mixin centradoAbs($widthDiv:3em, $heightDiv:3em){
    position: relative;
    width:$widthDiv;
    height: $heightDiv;
    img{
        left: 0;
        bottom: 0;
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        right: 0;
        top:0;
        width: initial!important;
        height: initial!important;
    }

}