.container-item-tramites{
    li{
        @include itemList;
    }
    
}
.container-subitems-tramites{
    li{
        @include itemList(8px,8px,2);
    }
}
.container-subitems-tramites-3{
    li{
        @include itemList(8px,8px,3);
    }
}
.container-important-coleg{
    border-top: 1px solid $colorPrincipal;
    border-bottom:1px solid $colorPrincipal;
    i{
        font-size: 1.5em;
    }
}
.container-num-order{
    width: 2.5em;
    height: 2.5em;
    margin-top: -1em;
    margin-left: -1em;
    @media (max-width: 768px) {
        width: 2em;
        height: 2em;
        margin-left: -.5em;
        margin-top: -.5em;
    }
}
.container-title-card{
    flex: initial!important;
}
.container-card-tramites{
    .btn-footer{
        right: 0;
        bottom: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 1.2em;
    }
    .btn-extra-card{
        background: mediumpurple;
    }
    &:hover{
        .animation-num-circle{
            z-index: 1;
            position: absolute;
            top:0;
            left: 0;
            width: 3em;
            height: 3em;
            border:solid 2px transparent;
            background: transparent!important;
            border-radius: 50%;
            -webkit-animation: spin 2s linear infinite;
            -moz-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            margin-left: -4px;
            margin-top: -4px;
            border-top-color: $colorPrincipal;
            border-left-color: $colorPrincipal;
            @media (max-width: 768px) {
                width: 2.5em;
                height: 2.5em;
            }
        }
    }
}

@-moz-keyframes spin { 100% {-moz-transform: rotate(360deg);}}
@-webkit-keyframes spin {100% {-webkit-transform: rotate(360deg);}}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}}